.toast {position:fixed;left:50%;bottom:35px;z-index:60000;display:none;text-align:center;}
.toast .inner {position:relative;left:-50%;top:-50%;background:#000a;border-radius:4px;padding:6px 8px;text-align:center;}
.toast-text {font-family:"VeraMono";font-size:12px;color:white;text-align:center;}
.toast.info .inner {}
.toast.success .inner {background:#0a0a;}
.toast.error .inner {background:#a00a;}